.container{
width:100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0.5rem;
background-color: aliceblue;

}
.logo{
 display: flex;
    left:6rem;
    justify-content: center;
    color: #15295f
}

.navigation{
  display: flex;
    right:12rem;
    justify-content: center;
}
.nav-links{
    display: flex; 
}
.nav-links li {
text-decoration: none;
display: inline;
list-style: none;
padding: 0 1rem 0 1rem;
font-weight: bolder;
font-size: larger;
color: #15295f;

}