.container{
width: 100%;
/* margin-top: 1rem; */
display: grid;
grid-template-columns:  16rem 1fr 16rem;
background-color: rgb(250, 245, 245);
}
.logo{
display: grid;
grid-column: 1;
justify-items: center;
}

.navigation{
  display: grid;
  grid-column: 2;
  align-items: center;
}
.navigation ul{
display: flex;
justify-content: flex-end;
gap:5rem;
color:#15295f;
font-size: 1.8rem;
}



.navigation ul a:focus{
  color: #fd6e0a;
  
  }